<div class="container">
    <div class="rounded card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                        style="background-image: url(&quot;assets/img/safariball.png&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Inventario</h4>
                        </div>
                        <div class="text-center">
                          <h4 class="text-dark mb-4">En este apartado se visualizan el Inventario Disponible asi como su Tienda-Departamento-Calificacion</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <form class="user">
          <div class="form-group row">
            
            <div *ngIf="cargarinventario">
              <div *ngFor="let indi of cargarinventario.Inventarios"> 
                ------------------------------------------------------------------
                <div class="card-header" role="tab">
                  {{indi.Tienda}}, {{indi.Departamento}}, {{indi.Calificacion}}
                </div>
                  <div *ngFor="let loc of indi.Productos">
                    -----------------------------------------------------------
                    <div class="card">
                      <img src="{{loc.Imagen}}"  width="150" height="100">
                      
                      <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Nombre:    {{loc.Nombre}}</a></h5>
                      </div>
                      <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Codigo:    {{loc.Codigo}}</a></h5>
                      </div>
                      <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Descripcion:    {{loc.Descripcion}}</a></h5>
                      </div>
                      <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Precio:    {{loc.Precio}}</a></h5>
                      </div>
                      <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Cantidad:    {{loc.Cantidad}}</a></h5>
                      </div>
                    
                      
                    </div>
                  </div>
              </div>
            </div>
          </div>
  
      </form>
    </div>
  
