<div class="container">
  <div class="rounded card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
          <div class="row">
              <div class="col-lg-5 d-none d-lg-flex">
                  <div class="flex-grow-1 bg-register-image"
                      style="background-image: url(&quot;assets/img/ceboball.jpg&quot;);"></div>
              </div>
              <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h4 class="text-dark mb-4">Tiendas Asociadas</h4>
                      </div>
                      <div class="text-center">
                        <h4 class="text-dark mb-4">En este apartado se visualizan las tiendas asociadas con VirtualMall</h4>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
    <form class="user">
        <div class="form-group row">
          
          <div *ngIf="cargartienda">
            <div *ngFor="let indi of cargartienda.Datos"> 
              <!--{{indi.Indice}}-->
              <div *ngFor="let duw of indi.Departamentos">
                <!--{{duw.Nombre}}-->
                <div *ngFor="let loc of duw.Tiendas">
                  -----------------------------------------------------------
                  <div class="card">
                    <img src="{{loc.Logo}}"  width="150" height="100">
                    
                    <div class="card-header" role="tab">
                      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Nombre: {{loc.Nombre}}</a></h5>
                    </div>
                    <div class="card-header" role="tab">
                      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Descrpcion: {{loc.Descripcion}}</a></h5>
                    </div>
                    <div class="card-header" role="tab">
                      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Contacto: {{loc.Contacto}}</a></h5>
                    </div>
                    <div class="card-header" role="tab">
                      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Calificacion: {{loc.Calificacion}}</a></h5>
                    </div>
                    <div class="card-header" role="tab">
                      <!--h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Cantidad:    {{loc.Cantidad}}</a></h5-->
                    </div>
                    <div class="form-group row" role="tab">Comentarios de la Tienda
                      <textarea style = "background-color:darksalmon;" role="tab" [formControl]="nombreInvent" size="100" class="form-control form-control"
                      id="nombreInvent" placeholder="Ingrese el nombre de la Tienda" name="ejemplo_comentario"></textarea>
                      <textarea style = "background-color:greenyellow;" role="tab" [formControl]="comentario" size="100" class="form-control form-control"
                      id="ejemplocomentario" placeholder="Comentario" name="ejemplo_comentario"></textarea>

                      <button (click)="subirComentario()" class="btn btn-primary btn-block text-white btn-user" type="submit">
                        Subir Comentario
                         
                       </button>
                      
                    </div>
                  
                    
                  </div>
                </div>
          
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>



    