<div *ngIf="mostrarMensaje" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Busqueda realizada correctamente
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
  </div>
  <div *ngIf="mostrarMensajeError" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            No se pudo realizar la busqueda
            <button type="button"  (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="rounded card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image"
                        style="background-image: url(&quot;assets/img/velozball.png&quot;);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Cargar Busqueda</h4>
                        </div>
                        <div class="text-center">
                          <h4 class="text-dark mb-4">Ingrese en este apartado todo la estructura json en el cuadro de texto</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <form class="user">
          <div class="form-group row"><textarea [formControl]="busqueda" size="100" class="form-control form-control"
            id="exampleFirstName" placeholder="Ingrese en este apartado la estructura Json" name="first_name"></textarea>
          </div>
          <div class="row justify-content-center">
              <div class="col-sm-6">
                  <button (click)="subirBusqueda()" class="btn btn-primary btn-block text-white btn-user" type="submit">
                   Subir Busqueda
                    
                  </button>
              </div>
          </div>
      </form>
    </div>
    <div class="container">
        <form class="user">
            <div class="form-group row">
              
              <div *ngIf="buscar">
                <img src="{{buscar.Logo}}"  width="150" height="100">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Nombre: {{buscar.Nombre}}</a></h5>
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Descripcion: {{buscar.Descripcion}}</a></h5>
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Contacto: {{buscar.Contacto}}</a></h5>
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2">Calificacion: {{buscar.Calificacion}}</a></h5>
                <!--<div *ngFor="let indi of cargarinventario.Inventarios"> 
                  ------------------------------------------------------------------
                  <div class="card-header" role="tab">
                    {{indi.Tienda}}, {{indi.Departamento}}, {{indi.Calificacion}}
                  </div>
                </div>-->
              </div>
            </div>
    
        </form>
      </div>
    
